body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #45405e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #45405e;
}

nav ul li a:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
}

footer {
    background-color: #45405e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.admin-img{
    margin-left: 1600px;
    margin-top: -50px;
    position: relative;
   
   }
   .admin-img:hover .list_w{
       opacity: 1;
       visibility: visible;
       transform: translate(-50%, 0);
   
   }
   
   .list_w{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 15px);
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
        background-color: rgba(51, 64, 66, 0.753);
   }
   .list{
       box-shadow: 0 0 4px rgba(0, 0,0,.1);
   }
   .list a{
       display: block; 
       padding: 5px 10px;
       text-decoration: none;
       color: #E5E5E5;
   
   }
